body {
    background-color: rgb(245, 236, 220);
}

h1 {
    color: blue;
    font-size: 36px;
}

#menu {
    background-color:rgb(253, 233, 167);
    float: left;
    border: solid 1px;
    margin-right: 10px;
    font-size: 20px;
}

#pagetext {
    font-size: 18px;
    float: none;
}

#box {
    position: relative;
    border: 4px dashed black;
    width: 500px;
    height: 500px;
    margin-top: 200px;
}

#square {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    background-color: blue;
    animation-name: race;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@keyframes race {
    from {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 500px;
        top: 0px;
    }

    50% {
        left: 500px;
        top: 500px;
    }

    75% {
        left: 0px;
        top:500px;
    }

    to {
        left: 0px;
        top: 0px;
        width: 10px;
        height: 10px;
    }
}
