body {
    background-color: rgb(245, 236, 220);
}

h1 {
    color: blue;
    font-size: 36px;
}

#menu {
    background-color:rgb(253, 233, 167);
    float: left;
    border: solid 1px;
    margin-right: 10px;
    font-size: 20px;
}

#pagetext {
    font-size: 18px;
    float: none;
}

#box {
    position: relative;
    border: 4px dashed black;
    width: 500px;
    height: 500px;
    margin-top: 1000px;
}

#square {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    background-color: blue;
}
